@CHARSET "UTF-8";

button,
select {
	margin: 3px;
}

#content-wrapper {
	width: 80%;
	margin: auto;
}

#regex-tree {
	float: left;
	overflow: auto;

	width: 400px;
	height: 100%;
	margin: 1em;
}

#regex-tree,
#buttons {
	padding: 2px;

	border: solid 1px black;
}